---
import { getCollection } from "astro:content";
import Base from "$layouts/Base.astro";

const posts = await getCollection("blog");
const bookmarks = await getCollection("bookmarks");
const tagCounts = new Map<string, number>();

posts.forEach((post) => {
  post.data.tags.forEach((tag) => {
    tagCounts.set(tag, (tagCounts.get(tag) || 0) + 1);
  });
});

bookmarks.forEach((bookmark) => {
  bookmark.data.categories.forEach((category) => {
    tagCounts.set(category, (tagCounts.get(category) || 0) + 1);
  });
});

const tags = Array.from(tagCounts.entries()).sort((a, b) => b[1] - a[1]);
---

<Base title="Tags — Owais Jamil" ogImage="/og/page/home.png">
  <section>
    <h2 class="text-3xl md:text-4xl text-cyan mb-8">Tags</h2>
    <div class="flex flex-wrap gap-3">
      {
        tags.map(([tag, count]) => (
          <a href={`/tags/${tag}`} class="tag text-lg px-4 py-2">
            {tag} ({count})
          </a>
        ))
      }
    </div>
  </section>
</Base>
