---
title: Bookmarks
layout: base
permalink: /bookmarks/index.html
---

<div class="wrapper">
    <header class="full | section" style="--spot-color: var(--color-primary)">
        <div class="section__inner flow region">
            <h1 class="text-center gradient-text-linear">{{ title }}</h1>
        </div>

        {% svg "divider/waves", null, "seperator" %}
    </header>

    <article class="region flow prose">
        <div class="grid" data-layout="50-50">
            {% for entry in collections.sortedBookmarks %}
                {% set bookmark = entry.data %}
                <section class="bookmark">
                    <header>
                        <strong>{{ bookmark.title }}</strong>
                        <div>Added: {% include "partials/date.njk" %} </div>
                    </header>
                    <section>{{ entry.content | safe }}</section>
                    {% if bookmark.categories %}
                        <section>
                            {% for tag in bookmark.categories %}
                                <div class="button" data-small-button>
                                    {{ tag }}
                                </div>
                            {% endfor %}
                        </section>
                    {% endif %}
                    <footer class="repel">
                        <a href="{{ bookmark.url }}" target="_blank" rel="noopener noreferrer">
                            {{ bookmark.url }}
                        </a>
                    </footer>
                </section>
            {% endfor %}
        </div>
    </article>
</div>
