---
type Props = { prompt?: string };
const { prompt = "$" } = Astro.props;
---

<span class="command">
  <span class="prompt">{prompt}</span>
  <slot />
</span>

<style is:global>
  .command {
    display: block;
    color: var(--fg);
  }

  .command .prompt {
    color: var(--cyan);
  }
</style>
