---
type Props = { title: string; subtitle?: string };

const { title, subtitle = "SUBTITLE" } = Astro.props;
---

<header class="py-4">
  <h1 class="text-blue text-2xl">{title}</h1>
  {subtitle && <p class="text-muted">{subtitle}</p>}
</header>
