<span class="output">
  <slot />
</span>

<style is:global>
  .output {
    display: block;
    font-size: var(--fs-sm);
    color: var(--fg);
    padding-left: calc(1ch + 0.5rem);
    margin-bottom: 1rem;
  }
</style>
