---
fontDisplay: "DM Sans, Ubuntu"
fontBody: "Atkinson Hyperlegible, Ubuntu"
background: '#FBBE25'
text: '#161616'
siteUrl: 'desertthunder.dev'
pagination:
  data: collections.allPosts
  size: 1
  alias: post
permalink: '/assets/og-images/{{ post.data.title | slugify }}-preview.svg'
eleventyExcludeFromCollections: true
---

<svg
  width="1200"
  height="630"
  viewBox="0 0 1200 630"
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
>
  <rect width="100%" height="100%" fill="#ffffff"/>

  <!-- Grid Pattern Definition -->
  <defs>
    <pattern id="smallGrid" width="10" height="10" patternUnits="userSpaceOnUse">
      <path d="M 10 0 L 0 0 0 10" fill="none" stroke="#e0e0e0" stroke-width="0.5"/>
    </pattern>
    <pattern id="grid" width="50" height="50" patternUnits="userSpaceOnUse">
      <rect width="50" height="50" fill="url(#smallGrid)"/>
      <path d="M 50 0 L 0 0 0 50" fill="none" stroke="#cccccc" stroke-width="1"/>
    </pattern>
  </defs>

  <rect width="100%" height="100%" fill="url(#grid)"/>

  <text x="20" y="40"
        font-family="{{ fontDisplay }}"
        font-size="22" fill="#000">
        {{ meta.siteName }}
  </text>

  <text x="1180" y="40"
        font-family="{{ fontDisplay }}"
        font-size="22"
        text-anchor="end" fill="#000">
        {{ meta.author.name }}
  </text>

  <text x="20" y="610"
        font-family="{{ fontBody }}"
        font-size="22"
        fill="#000">
        {{ personal.platforms.github | replace('https://', '') }}
  </text>

  <text x="1180" y="610"
        font-family="{{ fontBody }}"
        font-size="22"
        text-anchor="end" fill="#000">
        {{ siteUrl }}
  </text>

  <text x="600" y="200"
        font-family="{{ fontDisplay }}"
        font-size="80"
        font-weight="700"
        text-anchor="middle" fill="#000">
        {{ post.data.title }}
  </text>

  <text font-family="{{ fontDisplay }}"
        font-size="24"
        font-weight="700"
        text-anchor="middle" fill="#000">
      {% set descLines = post.data.description | splitlines(50) %}
      {% set verticalStartingPoint = 275 %}
      {% for line in descLines %}
            <tspan x="600" y="{{ verticalStartingPoint - 20 + loop.index0 * 30 }}"> {{ line }} </tspan>
      {% endfor %}
  </text>

  <text x="600" y="{{ 360 + descLines.length * 30 }}"
        font-family="{{ fontDisplay }}"
        font-size="22"
        text-anchor="middle"
        fill="#000">
        {{ post.date | formatDate('MM / DD / YYYY') }}
  </text>
</svg>
